// icon
$i-all: var(--i-all);
$i-new: var(--i-new);
$i-search: var(--i-search);
$i-star1: var(--i-star1);
$i-star2: var(--i-star2);
$i-notice: var(--i-notice);
$i-makeRead: var(--i-makeRead);
$i-makeUnread: var(--i-makeUnread);
$i-makeHihiglited: var(--i-star2);
$i-makeUnhihiglited: var(--i-star1);
$i-check: var(--i-check);
$i-close: var(--i-close);
$i-pin: var(--i-pin);

// icon inverted
$ii-all: var(--ii-all);
$ii-new: var(--ii-new);
$ii-search: var(--ii-search);
$ii-star1: var(--ii-star1);
$ii-star2: var(--ii-star2);
$ii-notice: var(--ii-notice);
$ii-makeRead: var(--ii-makeRead);
$ii-makeUnread: var(--ii-makeUnread);
$ii-makeHihiglited: var(--ii-star2);
$ii-makeUnhihiglited: var(--ii-star1);
$ii-check: var(--ii-check);
$ii-close: var(--ii-close);
$ii-pin: var(--ii-pin);

body {
  --i-all: url(./cssIcons/dark/all.svg);
  --i-new: url(./cssIcons/dark/new.svg);
  --i-search: url(./cssIcons/dark/search.svg);
  --i-star1: url(./cssIcons/dark/star1.svg);
  --i-star2: url(./cssIcons/dark/star2.svg);
  --i-notice: url(./cssIcons/dark/notice.svg);
  --i-makeRead: url(./cssIcons/dark/makeRead.svg);
  --i-makeUnread: url(./cssIcons/dark/makeUnread.svg);
  --i-check: url(./cssIcons/dark/check.svg);
  --i-close: url(./cssIcons/dark/close.svg);
  --i-pin: url(./cssIcons/dark/pin.svg);

  --ii-all: url(./cssIcons/light/all.svg);
  --ii-new: url(./cssIcons/light/new.svg);
  --ii-search: url(./cssIcons/light/search.svg);
  --ii-star1: url(./cssIcons/light/star1.svg);
  --ii-star2: url(./cssIcons/light/star2.svg);
  --ii-notice: url(./cssIcons/light/notice.svg);
  --ii-makeRead: url(./cssIcons/light/makeRead.svg);
  --ii-makeUnread: url(./cssIcons/light/makeUnread.svg);
  --ii-check: url(./cssIcons/light/check.svg);
  --ii-close: url(./cssIcons/light/close.svg);
  --ii-pin: url(./cssIcons/dark/pin.svg);
}

@mixin insertImageBefore($width, $height, $url) {
  &::before {
    display: inline-block;
    content: "";
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: $url;
    @content;
  }
}

@mixin insertImageAfter($width, $height, $url) {
  &::after {
    display: inline-block;
    content: "";
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: $url;
    @content;
  }
}
