form > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 0px 80px 1fr auto;
  text-align: left;
  background-color: $ci-background-1;
  color: $ci-text-1;
  padding: 8px 0;

  > div.icon {
    $icon-size: 0.85em;
    grid-column: #{"1 / 2"};
    grid-row: #{"1 / 2"};
    position: relative;
    height: $icon-size;
    margin: auto 0;

    @include insertImageBefore($icon-size, $icon-size, $ii-search) {
      position: absolute;
      top: 0;
      left: 1.1em;
    }
  }

  > div.tools {
    display: flex;
    grid-column: #{"4 / 5"};
    grid-row: #{"1 / 2"};
    padding-right: 20px;

    &.unavailable {
      visibility: hidden;
    }

    $button-icon: $ii-makeRead, $ii-makeUnread, $ii-makeHihiglited, $ii-makeUnhihiglited;
    @for $index from 1 through length($button-icon){
      div.toolButtonWrapper:nth-of-type(#{$index}) {
        @include toolButton($ci-background-1, $ci-background-2, $ci-separator, 16px, nth($button-icon, $index)){
          height: 100%;
        }
      }
    }
  }

  > input {
    &:nth-of-type(1){
      // テキスト入力
      height: 100%;
      grid-column: #{"3 / 4"};
      grid-row: #{"1 / 2"};
      background-color: $ci-background-2;
      box-sizing: border-box;
      border: none;
      color: $ci-text-1;
      margin-right: 8px;

      &:focus {
        border: 2px solid $c-background-1;
        outline: none;
      }

      &:hover {
        background-color: $ci-background-3;
      }
    }

    &:nth-of-type(2){
      // 検索ボタン
      height: 100%;
      padding: 0;
      padding-left: 1em;
      appearance: none;
      color: $ci-text-1;
      grid-column: #{"2 / 3"};
      grid-row: #{"1 / 2"};
      background-color: $ci-background-1;
      box-sizing: border-box;
      border: none;
      outline: none;

      &:focus {
        border: 2px solid $c-background-1;
        outline: none;
      }

      &:hover {
        background-color: $ci-background-2;
      }
    }

    &:nth-of-type(3) {
      // 一括表示ボタン(動かないボタン)
      display: none;
    }
  }
}
